#flexbox {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
}

header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

h1 {
  font-family: 'Damion', cursive;
  font-size: 50px;

}

#thebest {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;

}

section img {
  float: left;
}

#delicious {
  width: 100%;
  margin-left: 8px;
}

nav {
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  float: right;
}

.icons {
  margin-left: 1px;
}

#rss {
  padding-left: 8px;
}

#chocolate {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

#print {
  display: flex;
  flex-direction: row;
  width: 100%;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  margin-bottom: 7px;
}

#posted {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  word-spacing: 3px;
}

.printicon {
  display: flex;
  justify-content: right;
  float: right;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
}

.printicon img {
  width: 15px;
  height: 13px;
  margin-right: 4px;
}

#pizza {
  width: 100%;
  margin-top: 30px;
}

#paragraph {
  margin-top: 25px;
  text-indent: 20pt;
  font-size: 15pt;
  line-height: 30px;
}

#paperList {
  margin-top: 35px;
  width: 100%;

}

#divider {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  background-image: url(img/hr-img.png);
  background-repeat: repeat;
  height: 15px;
}
#divider2 {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 100%;
  background-image: url(img/hr-img.png);
  background-repeat: repeat;
  height: 15px;
}
#form {
position: static;
height: 400px;
}

#form1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 74px;
  margin-left: 60px;
  font-family: 'Patrick Hand', 'Cursive';
  font-size: 20pt;
  color: rgb(136, 113, 82);
  line-height: 33px;
}

#form2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 74px;
  margin-left: 510px;
  font-family: 'Patrick Hand', 'Cursive';
  font-size: 20pt;
  color: rgb(136, 113, 82);
  line-height: 33px;
}

#paperList {
  position: relative;
}

.strike {
  text-decoration: line-through;
}

#chopped {
  margin-left: 23px;
}

#author {
  margin-top: 20px;
  display: flex;
}

#authorPic{
margin-right: 15px;
}

#authorName{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

#foodeth {
  font-size: 20px;
  padding-right: 50px;
}

button {
  background-color: rgba(188,112,88,255);
  color: white;
  border: none;
  float: right;
  margin-top: 10px;
  height: 50px;
  width: 160px;
  font-family: 'Oswald', sans-serif;
  font-size: 13pt;
}
footer {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 80px;
  color: rgba(153,153,153,255);
}

#hr1 {
  margin-top: 15px;
  float: left;
  width:48%;
  background-color: rgba(153,153,153,255);
}
#hr2 {
  float: right;
  margin-top: 15px;
  width: 48%;
  background-color: rgba(153,153,153,255);
}

footer img {
  margin-left: 1px;
  margin-right: 2px;
}

#pfoot {
  margin-top: 40px;
  line-height: 30px;
}

input {
  margin-right: 10px;
  background-color: none;
  background-color: #fff;
}